<div>
  <div class='user'>
    <div><img src = @user.Photo></div>
    <h2>User <%= @user.Name%></h2>
    <p>Number of posts: <%= @user.posts_counter%></p>
  </div>

  <div>
    <% @posts_list.each do |post| %>
      <ul class='posts'>
        <li class='post'>
          <%= link_to "/users/#{@user.id}/posts/#{post.id}", :action => 'go' do %>
            <h3>Post # <%= post.id %></h3>
          <%end%>
          <p> Text: <%= post.Text %></p>
          <div class='commentslikes'>
            Comments: <%= post.comments_counter %>
            Likes: <%= post.likes_counter %>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <% post.recent_comments.each do |comment| %>
            <p>Username: <%= comment.Text %></p>
          <%end%>
        </li>
      </ul>
    <%end%>
  </div>
</div>

