

<h1 class= "create-post">Create a post</h1>
<%= form_with url: user_posts_path, scope: :data do |form| %>
<section class="post-form">
	<div class="title-box">
		<%= form.label :title, "Title:   "%>
		<%= form.text_field :title, placeholder: "Title", required: true %>
	</div>
	<div class="text-box-contain">
		<%= form.text_area :text, class: "text-box",  placeholder: "Enter text here", rows: 16, required: true %>
	</div>
	<%= form.submit "Post", class: "button"%>
  </section>
<% end %> 
