<h1 class='hello_error'><%= flash[:error] %></h1>

<%= form_with model: @post do |f| %>
  <div class='title_field'>
    <%= f.label :title %>
    <%= f.text_field :Title %>
  </div>

  <div class='text_tarea'>
    <%= f.label :text %>
    <%= f.text_area :Text %>
  </div>

  <div class='submit_button'>
    <%= f.submit "Add new post" %>
  </div>
<% end %>