
<section class='post_contain'>
<div class="whole-post">
  <div class="post_header">
    <h3><%= @post.title %> by <%= @user.name %></h3>
    
    <div class="comments-likes">
      <p>Comments: <%= @post.comments_counter %></p>
      <p>Likes: <%=  @post.likes_counter %></p>
      <%= form_with url: "/posts/#{@post.id}/likes", scope: :like do |form| %>
    <%= form.submit "Like this post", class: "button"%>
  <% end %>
    </div>
  </div>
  <p><%= @post.text %></p>
</div>
<div class="all-comms">
  <% @post.comments.each do |comment| %>
  <p>Username : <%= comment.text %></p>
  <%end%>
  <%= render partial: "create_comments", local: { post: @post } %>
</div>